.main{
  display: flex;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 30px;
  background-color: #F6F6FA;
  border-radius: 22px;
  margin: 0 auto;
}

.left-part{
  width: 65vw;
  max-width: 921px;
  margin-right: 32px;
}

.right-part{
  position: relative;
  max-width: 432px;
  margin-right: 22px;
}

@media screen and (max-width: 1240px) {
  .main{
    padding-bottom: 28px;
  }

  .right-part{
    max-width: 300px;
    margin-right: 27px;
  }

  .left-part{
    max-width: 660px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1023px) {
  .main{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-part{
    width: 100%;
    max-width: 100%;
    margin: 0;
  }

  .right-part{
    width: 100%;
    max-width: 1023px;
    margin: 0;
  }
}

@media screen and (max-width: 800px){
  .main{
    padding-top: 0;
    padding-bottom: 50px;
  }

  .left-part{
    margin: 0;
  }

  .right-part{
    margin: 0;
  }
}