.payment {
  margin: 23px 0 0 25px;
  background-color: white;
  max-width: 890px;
  border-radius: 15px;
}

.payment__header-container {
  display: flex;
  justify-content: space-between;
  padding: 14px 20px 0 22px;
}

.payment__title {
  letter-spacing: -0.1px;
}

.payment__method-container {
  display: flex;
  align-items: center;
  margin: 18px 0 0 23px;
}

.mir-card-icon {
  background-image: url(../images/mir-card-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.visa-card-icon {
  background-image: url(../images/visa-card-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.mastercard-card-icon {
  background-image: url(../images/mastercard-card-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.maestro-card-icon {
  background-image: url(../images/maestro-card-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
  margin-right: 10px;
}

.payment__card-number {
  font-weight: 500;
  margin-right: 13px;
}

.payment__conditions {
  font-size: 13px;
  color: #9797af;
  margin: 8px 0 0 22px;
  padding-bottom: 25px;
}

@media screen and (max-width: 1240px) {
  .payment{
    margin-left: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .payment{
    width: 100%;
    max-width: 93%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 800px) {
  .payment {
    margin: 12px 0 0 0;
    max-width: 100%;
  }

  .payment__header-container {
    padding: 20px 10px 0 15px;
  }

  .payment__change-button{
    margin: 0 6px 0 0;
  }

  .payment__title {
    font-size: 20px;
  }

  .payment__method-container {
    margin: 10px 0 0 16px;
  }

  .payment__conditions {
    margin-left: 16px;
  }
}
