.delivery {
  margin: 40px 0 0 25px;
  background-color: white;
  max-width: 890px;
  border-radius: 15px;
}

.delivery__head-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 0 22px;
}

.delivery__title {
  letter-spacing: -0.2px;
}

.change-button {
  margin: 3px 4px 0 0;
  color: #cb11ab;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -0.5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.change-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.delivery__point {
  display: flex;
  margin: 20px 0 0 20px;
}

.delivery__method {
  font-weight: 700;
  letter-spacing: -0.5px;
  width: 200px;
  margin: -3px 0 30px 2px;
}

.delivery__adress-name {
  line-height: 12px;
}

.delivery__time-container {
  display: flex;
  align-items: center;
}

.delivery__rating-star {
  margin-right: 4px;
}

.delivery__time {
  font-size: 13px;
  letter-spacing: 0.3px;
  line-height: 35px;
}

.delivery__price-container {
  display: flex;
  margin: 10px 0 0 22px;
  letter-spacing: -0.25px;
}

.delivery__cost {
  font-weight: 700;
  width: 200px;
}

.delivery__price {
  margin-top: -1px;
  letter-spacing: 0.1px;
}

.delivery__rating-star {
  background-image: url(../../images/rating-star-icon.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
}

.delivery__delivery-date-container {
  display: flex;
  margin: 18px 0 0 22px;
  height: 52px;
}

.delivery__delivery-date-container-late {
  display: flex;
  margin: 18px 0 0 22px;
  height: 52px;
}

.delivery__date {
  list-style-type: none;
  font-weight: 700;
  letter-spacing: -0.15px;
  width: 200px;
}

.delivery__date-items-container {
  display: flex;
}

.delivery__date-item-container {
  list-style-type: none;
  position: relative;
  margin-right: 10px;
}

.delivery__date-item {
  border-radius: 8px;
  height: 56px;
  width: 40px;
}

.delivery__date-item-span {
  position: absolute;
  top: -8px;
  right: -4px;
  font-size: 10px;
  color: white;
  background-color: #f55123;
  border-radius: 9px;
  padding: 0.5px 5px;
}

.delivery__return-conditions-container {
  display: flex;
  margin: 27px 0 0 22px;
  padding-bottom: 20px;
}

.check-mark-icon {
  background-image: url(../../images/check-mark.svg);
  background-repeat: no-repeat;
  min-width: 25px;
  height: 25px;
  margin-right: 5px;
}

.delivery__return-conditions {
  font-size: 13px;
  line-height: 23px;
}

.delivery__return-conditions-span {
  color: #0cb477;
  border-bottom: 1px rgba(12, 180, 119, 0.2) dashed;
}

.delivery__return-conditions-span:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .delivery {
    margin: 40px 0 0 0;
  }

  .delivery__head-container {
    padding: 13px 10px 0 15px;
  }

  .delivery__title {
    font-size: 20px;
  }

  .delivery__point {
    flex-direction: column;
    margin: 15px 10px 0 15px;
  }

  .delivery__method {
    margin-left: 0;
  }

  .delivery__adress-name {
    line-height: 25px;
    margin-bottom: -7px;
  }

  .delivery__price-container {
    flex-direction: column;
    margin: 7px 0 0 15px;
  }

  .delivery__price {
    margin-top: 2px;
  }

  .delivery__delivery-date-container {
    margin: 20px 0 0 15px;
    flex-direction: column;
    height: 96px;
  }

  .delivery__delivery-date-container-late {
    margin: 20px 0 0 15px;
    flex-direction: column;
    height: 96px;
  }

  .delivery__date-items-container {
    margin-top: 12px;
  }

  .delivery__return-conditions-container {
    align-items: center;
    margin: 20px 27px 0 22px;
  }

  .delivery__return-conditions {
    line-height: 15px;
  }
}
